server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:challenge;DB_CLOSE_DELAY=-1;MODE=LEGACY
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

app:
  security:
    jwt:
      # 64+ chars recomendado (HMAC). Troque em produção.
      secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_AT_LEAST_64_CHARS_0123456789"
      access-token-minutes: 15
    refresh-token-days: 7

springdoc:
  swagger-ui:
    path: /swagger-ui
